<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Live Chat</title>

    <link rel="stylesheet" href="/static/styles.css">

    <script type="text/javascript"
	    src="https://cdn.jsdelivr.net/npm/brython@3.11.3/brython.min.js">
    </script>
    <script type="text/javascript"
	    src="https://cdn.jsdelivr.net/npm/brython@3.11.3/brython_stdlib.js">
    </script>
    {% block script %}
    {% endblock %}
  </head>
  <body onload="brython()">
    {% block content %}
    {% endblock %}
  </body>
</html>
